In [1]:
#Data Processing and Management
import os
import glob
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Path for the Raman Data
n_raman_path = r"C:\Users\nmbis\OneDrive - The Ohio State University\Desktop\Current Work\Papers\Ocean ML Paper\Experimental_Data\N_Files"
# Find all Raman Files
os.chdir(n_raman_path)
n_raman_all_files = glob.glob(n_raman_path + "/*.csv")

# Spiked Samples With Plain Water

In [3]:
N_Raman_Array = pd.DataFrame()
for filename in n_raman_all_files:
    #Need to separate the CAS from the filename
    path= r"C:\Users\nmbis\OneDrive - The Ohio State University\Desktop\Current Work\Papers\Ocean ML Paper\Experimental_Data\N_Files"
    f_name = filename.replace(path,'')
    f_name = f_name.replace('\\','')
    f_name = f_name.replace('.csv','')
    split_name = f_name.split('  ', 1)
    f_name = split_name[0]
    #print(f_name)
    df = pd.read_csv(filename, index_col=False, header=0)
    #if "Wavelength" not in Raman_Array:
    #    Raman_Array.insert(0, 'Wavelength', df.iloc[:, 0])
    if f_name not in N_Raman_Array:
        temp_df = pd.DataFrame({f_name : df.iloc[:, 1]})
        N_Raman_Array = pd.concat((N_Raman_Array, temp_df), axis = 1)
N_Raman_Array.to_csv(r'C:\Users\nmbis\OneDrive - The Ohio State University\Desktop\Current Work\Papers\Ocean ML Paper\N_Dataset.csv', index = False, encoding='utf-8')

In [4]:
N_Raman_Array

,N_A10,N_A11,N_A12,N_A13,N_A14,N_A15,N_A16,N_A7,N_A8,N_A9,...,N_J10,N_J11,N_J12,N_J13,N_J14,N_J15,N_J16,N_J7,N_J8,N_J9
0,1768.079956,1772.719971,1717.599976,1735.040039,1755.160034,1717.099976,1765.800049,1741.979980,1744.800049,1767.300049,...,1734.540039,1727.219971,1723.020020,1691.959961,1693.500000,1707.660034,1715.020020,1744.079956,1732.540039,1719.699951
1,1779.939941,1788.420044,1725.699951,1744.280029,1754.079956,1724.880005,1770.500000,1736.959961,1748.459961,1765.959961,...,1726.239990,1728.880005,1727.060059,1679.780029,1694.939941,1710.239990,1727.900024,1744.280029,1741.819946,1730.400024
2,1779.819946,1788.599976,1732.140015,1744.300049,1746.319946,1726.640015,1774.760010,1746.819946,1743.380005,1777.000000,...,1734.420044,1739.180054,1722.199951,1693.560059,1699.579956,1701.079956,1740.199951,1746.660034,1738.780029,1731.160034
3,1783.160034,1800.900024,1729.119995,1748.000000,1761.040039,1723.699951,1787.160034,1742.180054,1762.000000,1780.719971,...,1731.560059,1742.780029,1730.719971,1681.359985,1702.060059,1708.780029,1731.300049,1750.239990,1739.599976,1736.500000
4,1785.140015,1799.319946,1737.119995,1756.199951,1771.739990,1726.060059,1773.400024,1735.319946,1748.560059,1787.619995,...,1737.420044,1729.579956,1731.680054,1689.579956,1698.760010,1706.619995,1724.800049,1745.699951,1738.800049,1725.939941
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1334,1509.680054,1513.239990,1327.939941,1366.800049,1403.819946,1448.060059,1466.319946,1343.219971,1420.939941,1497.339966,...,1354.319946,1353.560059,1321.339966,1329.199951,1322.839966,1348.400024,1336.839966,1373.000000,1368.239990,1364.099976
1335,1493.359985,1509.060059,1324.319946,1370.180054,1405.380005,1434.800049,1457.160034,1347.260010,1409.380005,1486.079956,...,1358.560059,1351.859985,1318.420044,1316.040039,1326.079956,1340.619995,1330.739990,1373.579956,1367.380005,1350.839966
1336,1495.839966,1505.260010,1323.400024,1361.140015,1406.339966,1442.900024,1460.560059,1347.339966,1416.560059,1482.300049,...,1355.920044,1355.459961,1315.459961,1317.180054,1320.660034,1339.160034,1338.540039,1367.520020,1369.180054,1355.800049
1337,1497.579956,1506.560059,1323.119995,1358.199951,1394.640015,1446.020020,1461.699951,1343.939941,1409.140015,1484.760010,...,1352.859985,1356.979980,1313.079956,1309.800049,1319.339966,1344.079956,1329.500000,1374.680054,1365.939941,1353.560059
1338,1503.140015,1497.819946,1325.640015,1367.699951,1397.260010,1435.160034,1457.500000,1347.719971,1403.199951,1478.500000,...,1344.300049,1352.599976,1300.859985,1314.859985,1321.160034,1337.140015,1326.540039,1368.819946,1370.959961,1355.020020

# Spiked Samples on Field Water

In [15]:
# Path for the Raman Data
f_raman_path = r"C:\Users\nmbis\OneDrive - The Ohio State University\Desktop\Current Work\Papers\Ocean ML Paper\Experimental_Data\F_Files"
# Find all Raman Files
os.chdir(f_raman_path)
f_raman_all_files = glob.glob(f_raman_path + "/*.csv")

In [16]:
F_Raman_Array = pd.DataFrame()
for filename in f_raman_all_files:
    #Need to separate the CAS from the filename
    path= r"C:\Users\nmbis\OneDrive - The Ohio State University\Desktop\Current Work\Papers\Ocean ML Paper\Experimental_Data\F_Files"
    f_name = filename.replace(path,'')
    f_name = f_name.replace('\\','')
    f_name = f_name.replace('.csv','')
    split_name = f_name.split('  ', 1)
    f_name = split_name[0]
    #print(f_name)
    df = pd.read_csv(filename, index_col=False, header=0)
    #if "Wavelength" not in Raman_Array:
    #    Raman_Array.insert(0, 'Wavelength', df.iloc[:, 0])
    if f_name not in F_Raman_Array:
        temp_df = pd.DataFrame({f_name : df.iloc[:, 1]})
        F_Raman_Array = pd.concat((F_Raman_Array, temp_df), axis = 1)
F_Raman_Array.to_csv(r'C:\Users\nmbis\OneDrive - The Ohio State University\Desktop\Current Work\Papers\Ocean ML Paper\F_Dataset.csv', index = False, encoding='utf-8')

In [17]:
F_Raman_Array

,F_A1,F_A10,F_A11,F_A2,F_A3,F_A4,F_A5,F_A6,F_A7,F_A8,...,F_J10,F_J11,F_J2,F_J3,F_J4,F_J5,F_J6,F_J7,F_J8,F_J9
0,1833.780029,1929.979980,1897.839966,1855.239990,1976.260010,1957.400024,2000.060059,1999.959961,1978.400024,2003.800049,...,1696.260010,1708.359985,1798.180054,1862.380005,1931.540039,1973.500000,2022.400024,1658.140015,1780.640015,1651.780029
1,1832.140015,1942.939941,1896.140015,1862.180054,1984.199951,1987.180054,2006.020020,2003.680054,1969.920044,2018.260010,...,1695.380005,1718.640015,1792.680054,1867.339966,1939.459961,1989.719971,2014.000000,1653.599976,1785.959961,1655.060059
2,1836.500000,1939.619995,1908.140015,1876.819946,1981.560059,1978.479980,2021.520020,2009.819946,1993.180054,2019.180054,...,1700.199951,1723.520020,1789.000000,1863.099976,1937.599976,1987.599976,2020.339966,1665.800049,1794.079956,1658.540039
3,1842.619995,1955.520020,1901.400024,1868.579956,1994.219971,1987.800049,2011.060059,2009.739990,1981.520020,2017.660034,...,1711.000000,1732.660034,1799.579956,1858.780029,1946.599976,1996.959961,2034.520020,1669.160034,1783.640015,1659.859985
4,1832.640015,1939.699951,1910.920044,1877.719971,2005.199951,1977.260010,2011.180054,2012.099976,1990.719971,2013.079956,...,1708.439941,1730.119995,1797.880005,1866.979980,1938.660034,2001.439941,2028.560059,1668.760010,1799.079956,1670.020020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1334,1380.719971,1948.180054,1955.540039,1432.099976,1622.300049,1607.719971,1638.079956,1660.199951,1865.380005,1853.459961,...,1562.260010,1557.000000,1410.719971,1518.959961,1633.939941,1734.780029,1734.859985,1542.819946,1958.719971,1542.739990
1335,1378.800049,1940.020020,1934.500000,1430.640015,1628.219971,1592.680054,1637.760010,1648.579956,1866.780029,1844.239990,...,1559.079956,1543.400024,1407.380005,1497.719971,1621.800049,1726.000000,1733.699951,1542.719971,1955.540039,1541.699951
1336,1376.400024,1945.199951,1946.660034,1436.319946,1626.199951,1594.939941,1646.079956,1646.780029,1863.540039,1842.739990,...,1550.839966,1546.500000,1413.140015,1503.479980,1630.040039,1716.160034,1753.579956,1537.219971,1960.359985,1537.479980
1337,1378.800049,1941.599976,1932.839966,1428.540039,1629.060059,1592.500000,1629.959961,1655.479980,1867.339966,1847.959961,...,1555.939941,1548.199951,1401.859985,1499.219971,1627.180054,1719.859985,1739.719971,1534.500000,1959.420044,1541.400024
1338,1377.560059,1952.699951,1950.979980,1435.099976,1619.439941,1595.239990,1634.819946,1648.540039,1858.560059,1837.160034,...,1564.640015,1544.979980,1406.239990,1497.599976,1632.060059,1716.520020,1743.800049,1538.219971,1954.839966,1541.000000

# Field Samples Only (No Spikes)

In [8]:
# Path for the Raman Data
field_sample_path = r"C:\Users\nmbis\OneDrive - The Ohio State University\Desktop\Current Work\Papers\Ocean ML Paper\Experimental_Data\Field_Samples"
# Find all Raman Files
os.chdir(field_sample_path)
raman_all_files = glob.glob(field_sample_path + "/*.csv")

In [ ]:
Field_Sample_Array = pd.DataFrame()
for filename in raman_all_files:
    #Need to separate the CAS from the filename
    path= r"C:\Users\nmbis\OneDrive - The Ohio State University\Desktop\Current Work\Papers\Ocean ML Paper\Experimental_Data\Field_Samples"
    f_name = filename.replace(path,'')
    f_name = f_name.replace('\\','')
    f_name = f_name.replace('.csv','')
    split_name = f_name.split('  ', 1)
    f_name = split_name[0]
    #print(f_name)
    df = pd.read_csv(filename, index_col=False, header=0)
    #if "Wavelength" not in Raman_Array:
    #    Raman_Array.insert(0, 'Wavelength', df.iloc[:, 0])
    if f_name not in Field_Sample_Array:
        temp_df = pd.DataFrame({f_name : df.iloc[:, 1]})
        Field_Sample_Array = pd.concat((Field_Sample_Array, temp_df), axis = 1)
Field_Sample_Array.to_csv(r'C:\Users\nmbis\OneDrive - The Ohio State University\Desktop\Current Work\Papers\Ocean ML Paper\Field_Samples.csv', index = False, encoding='utf-8')

In [11]:
Field_Sample_Array

,F_A6,F_B6,F_C6,F_D6,F_E6,F_F6,F_G6,F_H6,F_I6,F_J6
0,1999.959961,3946.919922,2854.979980,2052.340088,2121.739990,4305.919922,1995.140015,4468.080078,2675.879883,2022.400024
1,2003.680054,3959.120117,2869.840088,2055.179932,2118.439941,4335.600098,1989.540039,4485.299805,2677.760010,2014.000000
2,2009.819946,3964.080078,2862.739990,2061.199951,2123.699951,4333.040039,1998.760010,4479.080078,2682.580078,2020.339966
3,2009.739990,3974.500000,2868.979980,2060.679932,2139.959961,4321.640137,2007.760010,4509.979980,2687.659912,2034.520020
4,2012.099976,3965.199951,2872.320068,2056.439941,2132.479980,4331.259766,2002.000000,4501.040039,2678.300049,2028.560059
...,...,...,...,...,...,...,...,...,...,...
1334,1660.199951,6238.819824,4636.879883,1916.199951,2229.600098,11642.580078,1804.719971,7694.939941,3454.060059,1734.859985
1335,1648.579956,6230.839844,4647.120117,1900.380005,2222.919922,11625.459961,1806.380005,7649.319824,3414.439941,1733.699951
1336,1646.780029,6235.660156,4644.759766,1896.579956,2219.959961,11600.820312,1803.199951,7705.939941,3418.659912,1753.579956
1337,1655.479980,6209.180176,4641.319824,1895.319946,2224.780029,11575.000000,1805.339966,7659.000000,3415.020020,1739.719971
1338,1648.540039,6244.919922,4610.000000,1902.660034,2213.840088,11584.900391,1784.420044,7630.939941,3418.020020,1743.800049

# Field Samples Only (No Spikes)

In [3]:
# Path for the Raman Data
water_path = r"C:\Users\north.154\OneDrive - The Ohio State University\Desktop\Current Work\Papers\Ocean ML Paper\Experimental_Data\Water References"
# Find all Raman Files
os.chdir(water_path)
raman_all_files = glob.glob(water_path + "/*.csv")

In [5]:
Field_Sample_Array = pd.DataFrame()
for filename in raman_all_files:
    #Need to separate the CAS from the filename
    path= r"C:\Users\north.154\OneDrive - The Ohio State University\Desktop\Current Work\Papers\Ocean ML Paper\Experimental_Data\Water References"
    f_name = filename.replace(path,'')
    f_name = f_name.replace('\\','')
    f_name = f_name.replace('.csv','')
    split_name = f_name.split('  ', 1)
    f_name = split_name[0]
    #print(f_name)
    df = pd.read_csv(filename, index_col=False, header=0)
    #if "Wavelength" not in Raman_Array:
    #    Raman_Array.insert(0, 'Wavelength', df.iloc[:, 0])
    if f_name not in Field_Sample_Array:
        temp_df = pd.DataFrame({f_name : df.iloc[:, 1]})
        Field_Sample_Array = pd.concat((Field_Sample_Array, temp_df), axis = 1)
Field_Sample_Array.to_csv(r'C:\Users\north.154\OneDrive - The Ohio State University\Desktop\Current Work\Papers\Ocean ML Paper\Water.csv', index = False, encoding='utf-8')